{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{{ name }}

<br>

{{ ip }}

<br>

<a href="{% url 'today' %}">Today</a>
<br>
<br>
<a href="{% url 'logout' %}"> Click me to logout</a>


<br>

{% if routines %}
    <table border="1px solid black">
        <thead>
        <tr>
            <td>Date</td>
            <td>check in time</td>
            <td>check out time</td>
            <td>Current project</td>
            <td>Billiable Task</td>
            <td>Break Timing</td>
            <td>Task Owner</td>
            <td>Approved By</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>


    {% for routine in routines %}
        <tr>
            <td>{{ routine.today_date }}</td>
            <td>{{ routine.check_in_times }}</td>
            <td>{{ routine.check_out_time }}</td>
            <td>{{ routine.current_project }}</td>
            <td>{{ routine.billable_task }}</td>
            <td>{{ routine.break_time }}</td>
            <td>{{ routine.task_owner }}</td>
            <td>{{ routine.approved_by }}</td>
            <td>
                <a href="{% url 'edit_routine' routine.id %}">Edit</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}